$color-primary-orange: #F18134;
$color-primary-blue: #455AA4;

.header{
    min-height: 568px;
    background-image: linear-gradient(rgba($color-primary-orange ,0.50), rgba($color-primary-orange,0.50)),
    url("../img/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    justify-content: center;

    &__info{
        padding-right: 100px;
        text-align: right;
        max-width: 600px;
    }

    &__title{
        font-size: 36px;
        font-weight: 500;
    }

    &__text{
        font-size: 24px;
        font-weight: 300;
    }

    &__button{
        display: inline-block;
        background-color: $color-primary-blue;
        padding: 10px 25px;
        border-radius: 20px;
        margin-top: 20px;
        transition: all 0.2s;
        a{
            color: white;
            text-decoration: none;
            font-size: 22px;
        }

        &:hover{
            transform: translateY(-2px);
            box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        }
    }
}


.splide__slide img {
    width : 100%;
    height: auto;
}



.info{
    min-height: 80vh;
    background-color: $color-primary-blue;
    color: white;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
    // z-index: 1;
    position: relative;
    &__try{
        max-width: 1020px;
        height: 100%;
        margin: auto;
    }

    &__title{
        padding: 20px 0;
        margin: 10px 0px;
        font-size: 28px;
        z-index: 2;
        position: relative;
    }

    &__text{
        font-size: 22px;
        z-index: 2;
        position: relative;
    }

    &__button{
        background-color: $color-primary-orange;
        padding: 15px 40px;
        border-radius: 20px;
        float: right;
        transition: all 0.2s;
        font-size: 22px;
        z-index: 2;
        position: relative;
        a{
            color: black;
            text-decoration: none;
        }

        &:hover{
            transform: translateY(-2px);
            box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        }
    }
}

.info__2{
    background-color: $color-primary-orange;
    min-height: 90vh;
    margin-top: -20vh;
    &__delay{
        margin-top: 30vh;
        background-color: $color-primary-orange;
        max-width: 1020px;
        min-height: 60vh;
        margin: auto;
    }

    &__title{
        font-size: 28px;
        padding-top: 18vh;
    }

    &__button--delay{
        background-color: $color-primary-blue;
        padding: 15px 40px;
        border-radius: 20px;
        float: right;
        transition: all 0.2s;
        font-size: 22px;
        z-index: 2;
        position: relative;
        a{
            color: white;
            text-decoration: none;
        }

        &:hover{
            transform: translateY(-2px);
            box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        }
    }
}

.infos{
    position: relative;
}

.circuit{
    position: absolute;
    right: 0;
    width: auto;
    // width: 20vw;
    height: 137vh;
    top: 7vh;
    z-index: 1;
}
