.splide__slide img {
    width : 100%;
    height: auto;
}

.course{
    background-image: url('/img/office.jpg');
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    &__helper{
        flex: 0 0 80%;
        align-self: flex-end;
        &--2{
            flex: 0 0 10%;
        }
    }

    &__content{
        flex: 1;
        background-color: $color-course;;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__sign{
        display: inline-block;
        background-color: $color-course;
        display: inline-block;
        padding: 1rem 2.5rem;
        border-radius: 2rem;
        margin-top: 2rem;
        margin-right: 2rem;
        transition: all 0.2s;
        &:hover{
            transform: translateY(-2px);
            box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        }
        @include respond(br5){
            padding: .5rem 2rem;
            margin-top: 1rem;
            margin-right: 1rem;
        }
    }

    &__info{
        flex: 0 0 50%;
        padding: 1rem;
        @include respond(br5){
            padding: 0rem;
        }
    }

    &__price{
        flex:1;
        text-align: end;
        padding: 1rem;
    }
}